.searchtitle {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}
.product-container {
  width: 70%;
  margin: auto;
  background-color: aqua;
  border: 1px solid black;
  padding: 20px;
}

.product-box {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 20px;
  grid-auto-rows: 300px;

  padding-bottom: 30px;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.product-info {
  border: 1px solid green;
}
.product-img {
  position: relative;
  border: 1px solid green;
}
.product-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .product-box {
    grid-template-columns: repeat(1, 95%);
  }
}
