@import url("https://fonts.googleapis.com/css?family=Anton|Roboto|Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
:root {
  --primary-color: rgba(47, 180, 180, 0.897);
  --roboto: "Roboto", sans-serif;
  --anton: "Anton", sans-serif;
  --tradeWinds: "Trade Winds", cursive;
  --monoton: "Monoton", cursive;
}
.wrapper-main {
  margin-top: 30px;
  width: 70%;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.wrapper-main h1 {
  text-align: center;
  font-family: var(--tradeWinds);
  font-size: 3em;
}

.form-signup {
  display: block;
  
  height: 80%;

  margin-top: 2rem;
  
}

.form-signup input,
.form-signup button {
  height: 40px;
  background-color: aquamarine;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
